<module xmlns="urn:jboss:module:1.0" name="com.finture.commons.flowee-bpms-commons-utils">
  <resources>
    <resource-root path="flowee-bpms-commons-utils-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="com.finture.commons.flowee-bpms-commons-logging" />
  </dependencies>
</module>
