<module xmlns="urn:jboss:module:1.0" name="com.finture.connect.camunda-connect-http-client">
  <resources>
    <resource-root path="camunda-connect-http-client-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="com.finture.commons.camunda-commons-logging" />
    <module name="com.finture.commons.camunda-commons-utils" />

    <module name="com.finture.connect.camunda-connect-core" />

    <module name="org.apache.httpcomponents.httpclient" />
  </dependencies>
</module>
