<module xmlns="urn:jboss:module:1.0" name="com.finture.bpm.flowee-bpms-engine-plugin-connect">
  <resources>
    <resource-root path="flowee-bpms-engine-plugin-connect-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="java.base" />

    <module name="com.finture.bpm.flowee-bpms-engine" />

    <module name="com.finture.connect.flowee-bpms-connect-core" />
    <module name="com.finture.connect.flowee-bpms-connect-http-client" services="import" />
    <module name="com.finture.connect.flowee-bpms-connect-soap-http-client" services="import" />

  </dependencies>
</module>
