<module xmlns="urn:jboss:module:1.0" name="com.finture.bpm.qa.flowee-bpms-qa-ensure-clean-db">
  <resources>
    <resource-root path="flowee-bpms-qa-ensure-clean-db-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="com.finture.bpm.flowee-bpms-engine" />

  </dependencies>
</module>
