<module xmlns="urn:jboss:module:1.0" name="com.finture.spin.camunda-spin-dataformat-json-jackson">
  <resources>
    <resource-root path="camunda-spin-dataformat-json-jackson-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />

    <module name="com.finture.spin.camunda-spin-core" />
    <module name="com.finture.commons.camunda-commons-logging" />
    <module name="com.finture.commons.camunda-commons-utils" />
    <module name="com.finture.commons.camunda-commons-typed-values" />

    <module name="com.fasterxml.jackson.core.jackson-databind" slot="@version.jackson@" />
    <module name="com.jayway.jsonpath.json-path" />
  </dependencies>

</module>
